<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Image Gallery with Lightgallery</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito:200,300,400'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.7.0/css/lightgallery.min.css">
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<svg xmlns="http://www.w3.org/2000/svg" style="display:none;">
  <symbol id="filter" viewBox="0 0 24 24">
    <path d="M3 4h18l-7 8v6l-4 2v-8L3 4z" fill="currentColor"/>
  </symbol>
</svg>
<!-- partial:index.partial.html -->
<main id="app" class="content">
  <nav class="nav">
    <menu class="nav__controls">
      <icon class="nav__icon" use="#filter"></icon>

      <li v-for="(active, menu) in menus" class="nav__label"
        :class="{
          'nav__label--active' : active,
          'nav__label--filter': activeFilters[menu].length
        }" @click="setMenu(menu, active)">
        {{ menu }}
      </li>

      <li class="nav__label nav__label--clear" @click="clearAllFilters">Clear all</li>
    </menu>

    <label class="nav__label" @click="modal = !modal">About this pen</label>
  </nav>

  <transition-group name="dropdown" tag="section" class="dropdown" :style="dropdown">
    <menu v-for="(options, filter) in filters" class="filters"
      v-show="menus[filter]" ref="menu" :key="filter">

      <template v-if="filter !== 'rating'">
        <li v-for="(active, option) in options" class="filters__item"
          :class="{ 'filters__item--active': active }"
          @click="setFilter(filter, option)">
          {{ option }}
        </li>
      </template>
    </menu>
  </transition-group>

  <transition-group name="card" tag="ul" class="content__list">
    <li class="card" v-for="item in list" :key="item.id">
      <div class="card__gallery-wrapper">
        <div class="card__gallery-preview" @click="$event.currentTarget.nextElementSibling.querySelector('a').click()">
          <img class="gallery__preview-image" :src="item.images[0].thumb" :alt="item.images[0].alt"/>
          <div class="gallery__count-badge">{{ item.images.length }}</div>
          <div class="gallery__overlay">
          </div>
        </div>
        
        <div class="card__gallery" :id="'gallery-' + item.id" style="display: none;">
          <a v-for="(image, index) in item.images" :key="index" 
             class="gallery__item"
             :href="image.full"
             :data-lg-size="image.width + '-' + image.height"
             :data-src="image.full"
             :data-thumb="image.thumb">
            <img class="gallery__image" :src="image.thumb" :alt="image.alt"/>
          </a>
        </div>

      </div>

      <div class="card__details">
        <div class="card__details-left">
          <div class="card__data">
            <label class="card__label">Route</label>
            <p class="card__route"
              @click="clearFilter('routes', item.route)">
              {{ item.route }}
            </p>
          </div>

          <div class="card__data">
            <label class="card__label">Location</label>
            <p class="card__location"
              @click="clearFilter('locations', item.location)">
              {{ item.location }}
            </p>
          </div>
        </div>

        <div class="card__details-right">
          <div class="card__distance">
            <label class="card__label">Km</label>
            <p class="card__km">{{ item.km }}</p>
          </div>
        </div>
      </div>
    </li>
  </transition-group>

  <transition name="modal">
    <section v-if="modal" class="modal" @click="modal = false">
      <article class="modal__content" @click.stop>
        <h4 class="modal__title">For the full tutorial</h4>
        <h4 class="modal__title">that goes with this pen</h4>

        <h5 class="modal__link" @click="modal = false">
          <a href="https://snipcart.com/blog/vuejs-transitions-animations" target="_blank">
            Creating Vue.js Transitions &amp; Animations
          </a>
        </h5>

        <button class="modal__close" @click="modal = false">&times;</button>
      </article>
    </section>
  </transition>
</main>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.0/lightgallery.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.0/plugins/thumbnail/lg-thumbnail.umd.min.js"></script>
  <script src="./script.js"></script>

</body>
</html>
